.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
button[role="tab"] span {
    align-items: flex-start;
}
.tabPanel > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 0.5fr));
    justify-content: center;
}
.pagination {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
}
.pagination > button {
    margin: 0 0.5em;
    padding: 0.5em;
    background-color: transparent;
    color: var(--gray-color);
    font-size: 0.9em;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    cursor: pointer;
}
  