:root {
  /* Nord color palette: https://www.nordtheme.com/ */
  --background-color: #eceff4;
  --font-color: #2e3440;
  --gray-color: rgba(46, 52, 64, 0.7);
  --accent-color: #81a1c1;
  --snow-storm: #d8dee9;
  --text-warning: #cf0000;
}
html {
  box-sizing: border-box; /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  background-color: var(--background-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--font-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:after,
*:before {
  box-sizing: inherit;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
header {
  height: 20vh;
  display: flex;
  align-items: center;
}
main {
  height: 70vh;
  width: 100vw;
  padding-left: 2em;
}
footer {
  height: 5vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
  color: var(--gray-color);
}
img {
  width: 30px;
  height: 30px;
}
