:root {
  /* Nord color palette: https://www.nordtheme.com/ */
  --background-color: #ECEFF4;
  --font-color: #2E3440;
  --gray-color: #4C566A;
  --accent-color: #8FBCBB;
  --frost: #81A1C1;
}
html {
  box-sizing: border-box; /* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  background-color: var(--background-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--font-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:after,
*:before {
    box-sizing: inherit;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
header {
  height: 10vh;
  display: flex;
  align-items: center;
}
main {
  height: 75vh;
  width: 100vw;
  padding-left: 2em;
}
footer {
  height: 10vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1em;
  color: var(--gray-color);
}
img {
  width: 30px;
  height: 30px;
}
